
/* latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: url(./inconsolata.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    font-family: 'Inconsolata';
    margin: 0;
}

#navigation-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none inside;
    margin: auto;
    padding: 0;
    text-align: center;
    width: 100%;
    background-color: #4784E3;
}

#navigation-bar li {
    display: block;
    position: relative;
    float: left;
    background: #4784E3; /* menu background color */
}

#navigation-bar li a {
    display: block;
    padding: 0;
    text-decoration: none;
    width: 170px; /* this is the width of the menu items */
    line-height: 35px; /* this is the hieght of the menu items */
    color: #ffffff; /* list item font color */
}

#navigation-bar li li a {
    font-size: 100%; /* smaller font size for sub menu items */
}

#navigation-bar li:hover {
    background: #2558CE; /* highlights current hovered list item and the parent list items when hovering over sub menues */
}

#navigation-bar ul {
    position: absolute;
    padding: 0;
    left: 0;
    display:none; /* hides sublists */
}

#navigation-bar li:hover ul ul {
    display: none; /* hides sub-sublists */
}

#navigation-bar li:hover ul {
    display: block; /* shows sublist on hover */
}

#navigation-bar li li:hover ul {
    padding: 0;
    display: block; /* shows sub-sublist on hover */
    margin-left: 170px; /* this should be the same width as the parent list item */
    margin-top: -35.5px; /* aligns top of sub menu with top of list item */
}

h1 {
    clear: both;
    text-align: center;
    color: #384F83;
}

h2 {
    clear: both;
    text-align: center;
    color: #384F83;
}

h2.command-info-options-header {
    margin-top: 60px;
    margin-bottom: 15px;
}

h3 {
    clear: both;
    text-align: center;
    color: #384F83;
    margin-top: 25px;
    margin-bottom: 10px;
}

p {
    clear: both;
    text-align: center;
    white-space: pre-line;
    margin-top: 10px;
    margin-bottom: 10px;
}

div {
    text-align: center;
}

.input-run-button, .input-change-password-button {
    display: block;
    margin: auto;
    margin-top: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 20px;
    padding-right: 20px;
    border: 0px;
    color: white;
}

.input-run-button {
    background-color: #35A583;
    border-radius: 3px;
}

.input-change-password-button {
    background-color: #DC7051;
    border-radius: 3px;
}

code {
    clear: both;
    white-space: pre;
    color: #615F5F;
    background-color: #F3F3F3;
}

.response-code {
    max-width: 40%;
    margin: 0 auto;
    direction: ltr;
    text-align: justify;
    clear: both;
    background-color: #f7f7f7;
    padding: 15px;
    border-radius: 3px;
    margin-bottom: 30px;
}

.response-code code {
    background: transparent !important;
}
